<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated algorithmProject -->
      <package
            uri="http://www.example.org/algorithmProject"
            class="algorithmProject.AlgorithmProjectPackage"
            genModel="model/algorithmProject.genmodel"/>
   </extension>

</plugin>
